
.container{
    display: flex;
    flex-direction: column;
}


body{
    background-color: salmon;
    text-align: left;
    font-size: xxx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 200px;
    font-style: italic;
    text-align: top-left;
    margin: 0%;
    color:aliceblue;
    background-image: url("../Bilder/New Yooooooork.jpeg");
    background-position-y: -150px;
    background-size: cover;
    height: 80vh;
}


h2{
    font-size: x-large;
    font-style: bold;
    text-align: left;
    margin: 0%;
}

h3{
    font-size: x-large;
    font-style: italic;
    text-align: top-left;
    margin: 0%;
}

p{
    font-size: large;
    font-style: normal;
    text-align: left;
    margin: 0%;
}


embed{
    height: 315px;
    width: 560px; 
}