body{
    background-color: salmon;
    text-align: left;
    font-size: xxx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: xxx-large;
    font-style: italic;
    text-align: left;
}