body {
    background-color: cornflowerblue;
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

h1
{
    color: chartreuse;
    text-decoration: underline;
}
