.container{
    display: flex;
    flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: left; 
  align-items: left;
  gap: 16px;
}

.btn {
  display: inline-block;
  padding: 10px 24px;
  font-size: 100px;
  background-color: salmon;
  background-image: url("../Bilder/New Yooooooork.jpeg");
  background-position-y: -70px;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: darksalmon;
}

body{
    background-color: palegoldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}


h1{
    text-align: center;
}

h2{
    text-align: left;
}